i(id="hud", class="arrows icon-arrow-up icon-large", style="font-size:130px; text-align:center;") 
body(onload="startTime()")
  script(src='js/jquery-1.7.2.min.js')
  //- script(src="js/jquery.pageslide.min.js")
  script(src='js/bootstrap.min.js')
  - var items = ["Bayview", "Carling", "Carleton", "Confederation", "Greenboro"]
  div(id='stationlist', class="pull-center")
    h1(id="title")
      a(id="titlelink", href='/') Next <i class="icon-time"></i>Train
    div(class='spacer')
    ul(id="stations", class="nav nav-tabs nav-stacked")
      - var i = 0
      each item in items
        //- a(href="javascript:$.pageslide({ direction: 'left', href:'time.html?s=#{i}&d=0' })", class="stntimebtn btn icon-time", style='float:right; position:relative; top:3px; left:-4px;') 's
        //- this div below is the same size as the button above. It is to maintain centering of the text in the list element
        //- div(style='float:left; position:relative; width:42px; height:29px; top:3px; left:4px; z-index:-1;')
        li(id="locationli#{i}")
          a(id="location#{i}", class="tab-pane pull-center", data-toggle="button", onclick="setLocation(#{i})", style="font-weight:bold; font-size: 140%; cursor: pointer;")= item
          if(i!=4) 
            i(class="arrows icon-arrow-up", style="font-size:130%; top:1px; position:relative;")
          - i++;
    a(id="switch_dir", class="pull-center btn btn-large btn-primary dropdown-toggle icon-refresh", data-toggle="dropdown", onclick="toggleDirection()")  Switch direction 
    h2(id='next', style='padding-top:4px')
  hr
  div(class="pull-center") 
    span Created by 
    a(href="http://www.linkedin.com/in/rseys", target="_blank") <b>Ryan Seys</b>
  div(style="margin-top:4px", class="pull-center")
    a(class="btn btn-success btn-mini icon-heart", title="Buy me a coffee", target="_blank", href="https://www.paypal.com/webscr?cmd=_donations&business=rsmseys@gmail.com&item_name=Donate&currency_code=CAD")  Donate
    a(class="btn btn-info btn-mini icon-bullhorn", style="margin-left:4px", href="javascript:UserVoice.showPopupWidget();", title="Open feedback & support dialog (powered by UserVoice)")  feedback & support
    div(id='like', style="left:4px;top:5px;", class="fb-like", data-href="http://nextotrain.com", data-send="false", data-layout="button_count", data-width="80", data-show-faces="false", data-font="arial")
    div(id="fb-root")
    p(style="position:relative; top:5px; bottom:0; clear:both; font-size:7pt;color:#666666;opacity:0.7;") Disclaimer: Next OTrain is in no way affiliated with <a style="color:#666666;" target="_blank" href="http://www.octranspo1.com">OC Transpo</a>.
script(src='js/next-otrain.min.js')


