body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#time {
  position:relative;
  margin-left: auto;
  margin-right: auto;
}

.c {
  
  margin-left: auto;
  margin-right: auto;
}

.pull-center {
  text-align: center;
}

.btn-group {
  margin: 0 auto; 
  text-align: center;
  width: inherit;
  display: inline-block;
}