body {
  padding-left: 20px;
  padding-right:20px;
  padding-top:10px;
}

.pull-center {
  text-align: center;
}

#titlelink {
  text-decoration:none;
  color:#333;
  font-style:italic;
}

.spacer {
  padding-top: 8px;
}